Ej2_webservice_18/xml-resources/web-service-references/servidorSoap/wsdl/localhost_8080/Ej1_webservice_18/servidorSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsSoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsSoap/" name="servidorSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://wsSoap/" schemaLocation="http://localhost:8080/Ej1_webservice_18/servidorSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="registraRenta">
<part name="parameters" element="tns:registraRenta"/>
</message>
<message name="registraRentaResponse">
<part name="parameters" element="tns:registraRentaResponse"/>
</message>
<message name="consultarRenta">
<part name="parameters" element="tns:consultarRenta"/>
</message>
<message name="consultarRentaResponse">
<part name="parameters" element="tns:consultarRentaResponse"/>
</message>
<message name="rentaYaRegistrada">
<part name="parameters" element="tns:rentaYaRegistrada"/>
</message>
<message name="rentaYaRegistradaResponse">
<part name="parameters" element="tns:rentaYaRegistradaResponse"/>
</message>
<message name="rentaRegistradas">
<part name="parameters" element="tns:rentaRegistradas"/>
</message>
<message name="rentaRegistradasResponse">
<part name="parameters" element="tns:rentaRegistradasResponse"/>
</message>
<portType name="servidorSoap">
<operation name="registraRenta">
<input wsam:Action="http://wsSoap/servidorSoap/registraRentaRequest" message="tns:registraRenta"/>
<output wsam:Action="http://wsSoap/servidorSoap/registraRentaResponse" message="tns:registraRentaResponse"/>
</operation>
<operation name="consultarRenta">
<input wsam:Action="http://wsSoap/servidorSoap/consultarRentaRequest" message="tns:consultarRenta"/>
<output wsam:Action="http://wsSoap/servidorSoap/consultarRentaResponse" message="tns:consultarRentaResponse"/>
</operation>
<operation name="rentaYaRegistrada">
<input wsam:Action="http://wsSoap/servidorSoap/rentaYaRegistradaRequest" message="tns:rentaYaRegistrada"/>
<output wsam:Action="http://wsSoap/servidorSoap/rentaYaRegistradaResponse" message="tns:rentaYaRegistradaResponse"/>
</operation>
<operation name="rentaRegistradas">
<input wsam:Action="http://wsSoap/servidorSoap/rentaRegistradasRequest" message="tns:rentaRegistradas"/>
<output wsam:Action="http://wsSoap/servidorSoap/rentaRegistradasResponse" message="tns:rentaRegistradasResponse"/>
</operation>
</portType>
<binding name="servidorSoapPortBinding" type="tns:servidorSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registraRenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarRenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rentaYaRegistrada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rentaRegistradas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servidorSoap">
<port name="servidorSoapPort" binding="tns:servidorSoapPortBinding">
<soap:address location="http://localhost:8080/Ej1_webservice_18/servidorSoap"/>
</port>
</service>
</definitions>