Ej2_webservice_18/xml-resources/web-service-references/servidorSoap/wsdl/localhost_8080/Ej1_webservice_18/servidorSoap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsSoap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsSoap/">

<xs:element name="consultarRenta" type="tns:consultarRenta"/>

<xs:element name="consultarRentaResponse" type="tns:consultarRentaResponse"/>

<xs:element name="registraRenta" type="tns:registraRenta"/>

<xs:element name="registraRentaResponse" type="tns:registraRentaResponse"/>

<xs:element name="rentaRegistradas" type="tns:rentaRegistradas"/>

<xs:element name="rentaRegistradasResponse" type="tns:rentaRegistradasResponse"/>

<xs:element name="rentaYaRegistrada" type="tns:rentaYaRegistrada"/>

<xs:element name="rentaYaRegistradaResponse" type="tns:rentaYaRegistradaResponse"/>

<xs:complexType name="rentaYaRegistrada">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentaYaRegistradaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraRenta">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraRentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentaRegistradas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="rentaRegistradasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRenta">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>