clienteEjercicio2ExamenWebService/web/WEB-INF/wsdl/localhost_8080/ejercicio1ExamenWebService/calcularFecha.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidorWebServiceSoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidorWebServiceSoap/" name="calcularFecha">
<types>
<xsd:schema>
<xsd:import namespace="http://servidorWebServiceSoap/" schemaLocation="http://localhost:8080/ejercicio1ExamenWebService/calcularFecha?xsd=1"/>
</xsd:schema>
</types>
<message name="comprobarFechayDia">
<part name="parameters" element="tns:comprobarFechayDia"/>
</message>
<message name="comprobarFechayDiaResponse">
<part name="parameters" element="tns:comprobarFechayDiaResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="comprobarFecha">
<part name="parameters" element="tns:comprobarFecha"/>
</message>
<message name="comprobarFechaResponse">
<part name="parameters" element="tns:comprobarFechaResponse"/>
</message>
<portType name="calcularFecha">
<operation name="comprobarFechayDia">
<input wsam:Action="http://servidorWebServiceSoap/calcularFecha/comprobarFechayDiaRequest" message="tns:comprobarFechayDia"/>
<output wsam:Action="http://servidorWebServiceSoap/calcularFecha/comprobarFechayDiaResponse" message="tns:comprobarFechayDiaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://servidorWebServiceSoap/calcularFecha/comprobarFechayDia/Fault/ParseException"/>
</operation>
<operation name="comprobarFecha">
<input wsam:Action="http://servidorWebServiceSoap/calcularFecha/comprobarFechaRequest" message="tns:comprobarFecha"/>
<output wsam:Action="http://servidorWebServiceSoap/calcularFecha/comprobarFechaResponse" message="tns:comprobarFechaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://servidorWebServiceSoap/calcularFecha/comprobarFecha/Fault/ParseException"/>
</operation>
</portType>
<binding name="calcularFechaPortBinding" type="tns:calcularFecha">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="comprobarFechayDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="comprobarFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="calcularFecha">
<port name="calcularFechaPort" binding="tns:calcularFechaPortBinding">
<soap:address location="http://localhost:8080/ejercicio1ExamenWebService/calcularFecha"/>
</port>
</service>
</definitions>